<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout/base_layout}">
<head>
    <title>Home - F1</title>
</head>
<body>
    <section layout:fragment="content">
      <div class="badge text-bg-primary text-wrap">
        <h2>Welcome to the World of Formula 1</h4>
        <p class="lead fs-3 p-2 lh-sm text-start">
          Formula 1 isn’t just a sport—it’s a spectacle of speed, precision, and engineering mastery. It’s where cutting-edge technology meets human brilliance, where split-second decisions define champions, and where passion fuels everything. From the roar of the engines to the drama of wheel-to-wheel battles, F1 captures the hearts of millions around the world.

          For those who love Formula 1, it’s more than just race weekends. It’s the anticipation before lights out, the endless debates over strategies, the admiration for fearless drivers pushing the limits, and the excitement of seeing history being made. Whether you’re drawn to the legendary circuits, the genius of team strategies, or the sheer thrill of racing, this sport has a way of becoming an obsession.

          This web app is built for fans like you—those who live and breathe Formula 1. Whether you're here for race updates, team insights, historical moments, or just to celebrate the beauty of the sport, welcome to a community that shares your passion for speed, skill, and glory.
      </div>
      <div class="position-relative pt-4 pb-2">
        <picture>
            <source srcset="/images/sergio-perez-6633997_1920.jpg">
            <img src="/images/sergio-perez-6633997_1920.jpg" alt="Sergio Perez" class="img-fluid rounded">
        </picture>
      </div>
    </section>    
</body>
</html>